<nav>
  <ul class="flex flex-row">
    <li class="p-4">
      <a href="/">Live</a>
    </li>
    <li class="p-4">
      <a href="/climbers">Grimpeurs</a>
    </li>
    <li class="p-4">
      <a href="/categories">Catégories</a>
    </li>
  </ul>
</nav>
