<div class="absolute bottom-20 right-20" data-cglayer="TIMER">
  <div
    class="bg-cg-neutral-darker flex text-white text-3xl py-0 px-2 [&_span]:w-4 [&_span]:inline-block [&_span]:text-center"
  >
    <span data-cg="t1">0</span>:<span data-cg="t2">0</span>    <span data-cg="t3">0</span>
  </div>
</div>
