<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      MOF 2024
    </title>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body class="min-h-screen w-screen font-sans bg-gray-800 text-white">
    @include('partials/nav')
    <main class="flex flex-col gap-2">
      <form method="post" class="flex gap-2 mb-2">
        <input
          type="text"
          name="name"
          placeholder="Nom de la catégorie"
          class="text-gray-800 px-2 py-1 rounded"
        />
        <input type="text" name="ifsc" placeholder="Identifiant IFSC" class="text-gray-800 px-2 py-1 rounded" />
        <button class="bg-blue-600 text-white px-4 py-2 rounded">Ajouter</button>
      </form>
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-700">
          <tr>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
            >
              Nom de la catégorie
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
            >
              IFSC
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
            >
              Status
            </th>
            <th
              scope="col"
              class="px-6 py-3 text-left text-xs font-medium text-gray-300 uppercase tracking-wider"
            >
              Actions
            </th>
          </tr>
        </thead>
        <tbody class="bg-gray-800 divide-y divide-gray-700">
          @each(category in categories)
            <tr>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                {{ category.name }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-white">
                {{ category.ifscCategoryRoundId }}
              </td>
              <td
                class="px-6 py-4 whitespace-nowrap text-sm font-medium {{ category.pollingStatus.result =='ok' ? 'text-green-500'
                : category.pollingStatus.result == 'warning' ? 'text-yellow-500'
                : category.pollingStatus.result == 'error' ? 'text-red-500' : 'text-white' }}"
              >
                {{ category.pollingStatus.message }}
              </td>
              <td class="px-6 py-4 whitespace-nowrap text-sm font-medium">
                <div class="flex flex-row gap-1">
                  <form method="post" action="/categories/{{ category.id }}?_method=DELETE">
                    <button class="bg-red-800 text-white px-2 py-1 rounded">Supprimer</button>
                  </form>
                  @if(category.ifscCategoryRoundId)
                    <form method="post" action="/categories/{{ category.id }}/poll?_method=POST">
                      <button class="bg-gray-700 text-white px-2 py-1 rounded">Actualiser</button>
                    </form>
                    @if(category.autoPolling)
                      <form method="post" action="/categories/{{ category.id }}/auto_poll_stop?_method=POST">
                        <button class="bg-green-700 text-white px-2 py-1 rounded">Stop auto poll</button>
                      </form>
                    @else
                      <form method="post" action="/categories/{{ category.id }}/auto_poll_start?_method=POST">
                        <button class="bg-gray-700 text-white px-2 py-1 rounded">Auto poll</button>
                      </form>
                    @end
                  @end
                </div>
              </td>
            </tr>
          @end
        </tbody>
      </table>
    </main>
  </body>
</html>
