<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      MOF 2024
    </title>

    @vite(['resources/css/app.css', 'resources/js/app.js'])
  </head>
  <body class="min-h-screen w-screen font-sans bg-gray-800 text-white">
    <div class="flex flex-row">
      <div class="grow">
        @include('partials/nav')
        <main>

        </main>
      </div>
      <iframe
        src="https://www.etto-climbing.com/events/the-island-championships-2/streamshow"
        frameborder="0"
        class="w-96 h-full min-h-screen"
      >
      </iframe>
    </div>
  </body>
</html>
