<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      MOF 2024
    </title>

    @vite(['resources/css/app.css', 'resources/js/timer.js'])
  </head>
  <body class="min-h-screen w-screen font-sans">
    <div class="flex flex-row justify-center items-end h-screen">
      @include('partials/timer_svg')
    </div>
  </body>
</html>
