<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      ALL GRAPHICS
    </title>
    @vite(['resources/css/cg.css', 'resources/js/cg.ts', 'resources/js/results.ts'])
  </head>
  <body class="font-bebas h-screen w-screen relative">
    @include('pages/cg/parts/left_climber')
    @include('pages/cg/parts/timer')
    {{-- @include('pages/cg/parts/results_men_q') --}}
    @include('pages/cg/parts/results_women_q')
  </body>
</html>
