<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      CLIMBER_LEFT
    </title>
    @vite(['resources/css/cg.css', 'resources/js/cg.ts'])
  </head>
  <body class="font-bebas h-screen w-screen relative">
    @include('pages/cg/parts/left_climber')
  </body>
</html>
